/*------------------------------------*\
$GALLERY
\*------------------------------------*/
.gallery {
    transition: all 300ms;
    background: $gray;
    @include respond-to(tablet) {
        width: 100%;
        margin: auto;
    }
    &.gallery--small {
        @include respond-to(desktop) {
            width: 100%;
        }
    }
    &.slider--fullscreen {
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: $gray;
        z-index: $level11;
        width: 100%;
        .slider__gallery { 
            width: 72%;
            float: left;
            background: #333;
            .slides {
                width: 100%;
                height: 100%;
                li {
                    width: 100%;
                    height: 100%;
                    position: relative;
                    img {
                        max-width: 100%;
                        max-height: 100%;
                        width: 100%;
                        @include center;
                        min-height: 0;
                        transition: all 300ms;
                    }
                }
            }
        }
        .gallery__content {
            border: none;
            width: 28%;
            float: left;
            height: 100%;
            position: relative;
            .gallery__desc {
                width: 100%;
                .gallery__text {
                    float: none;
                    width: 100%;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    opacity: .5;
                }
                .gallery__number {
                    clear: both;
                    float: none;
                    @include font-size(21px, 24px);
                }
            }
        }
    }/*&.slider--fullscreen*/
    .gallery__number {
        @include font-size(21px, 20px);
        color: $border;
        margin-bottom: 10px;
        @include respond-to(tablet) {
            margin-bottom: 0;
        }
        @include respond-to(desktop) {
            margin-right: 15px;
        }
        .current-slide {
            color: $main;
        }
    }
    .slider__gallery {
        transition: all 300ms;
        .slides {
            li {
                height: 225px;
                position: relative;
                @include respond-to(tablet) {
                    height: 490px;
                }
                img {
                    width: 100%;
                    @include center;
                }
            }
        }/*.slides*/
    }/*.slider__gallery*/
    .gallery__content {
        padding: 0 15px 0px;
        background: transparent;
        position: relative;
        transition: all 300ms;
        min-height: 70px;
        @include respond-to(tablet) {
            min-height: 30px;
        }
    }/*.gallery__content*/
    .gallery__controls {
        display: block;
        padding: 10px 0 20px;
        width: 80px;
        position: absolute;
        right: 0;
        top: 0;
        @include respond-to(tablet) {
            width: 160px;
        }
        .gallery__controls__content {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
            float: right;
            height: 20px;
            .gallery__fullscreen {
                svg {
                    width: 20px;
                    height: 20px;
                    fill: $border;
                    opacity: .6;
                    &:hover {
                        opacity: 1;
                    }
                }
            }
            svg {
                opacity: .6;
                fill: $border;
                &:hover {
                    opacity: 1;
                }
            }
        }/*.gallery__controls__content*/
        .gallery__fullscreen {
            width: 30px;
            padding-right: 10px;
            border-right: 2px solid $darkgray;
            display: none;
            cursor: pointer;
            @include respond-to(desktop) {
                display: block;
            }
            svg {
                width: 29px;
                height: 29px;
                display: block;
            }
        }/*.gallery__fullscreen*/
        .custom-controls-container {
            width: 60px;
        }
        .flex-direction-nav {
            display: block;
            width: 100%;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
            height: 20px;
            list-style: none;
            padding: 0;
            li {
                width: 17px;
                height: 20px;
                svg {
                    width: 100%;
                    height: 100%;
                    padding: 0;
                    display: block;
                }
            }
        }/*.flex-direction-nav*/
    }/*.gallery__controls*/
    .gallery__desc {
        max-width: 650px;
        .gallery__number {
            height: 60px;
            width: 60px;
            padding: 10px 0 20px;
            @include font-size(21px, 24px);
            color: $darkgray;
            @include respond-to(tablet) {
                float: left;
            }
            span {
                margin-right: 5px;
                &:last-child {
                    color: $darkgray;
                }
            }
        }/*.gallery__number*/
        .gallery__text {
            width: 100%;
            padding: 0;
            padding: 10px 100px 20px 0;
            @include respond-to(tablet) {
                padding: 14px 0 20px;
                width: 480px;
                float: left;
            }
            p {
                margin-bottom: 0;
            }
        }/*.gallery__text*/
    }/*.gallery__desc */
}/*.events__single__gallery */