/*------------------------------------*\
$REDES
\*------------------------------------*/
.no-touch {
    .redes-home {
        .btn {
            &:hover {
                color: white;
                svg {
                    fill: white;
                }
            }
        }
    }
}
.redes-home {
    display: none;
    @include respond-to(tablet) {
        display: flex;
        flex-flow: row wrap;
        margin-bottom: 20px;
    }
    .redes__date {
        margin-bottom: 20px;
    }
    .redes__content {
        width: 100%;
        padding-top: 25px;
        position: relative;
        @extend .light;
        @include respond-to(tablet) {
            width: 100%;
            padding: 0;
            position: static;
        }
        .btn {
            margin-top: 20px;
        }
        a, span, strong, p {
            display: inline-block;
            margin-left: 4px;
        }
    }
    img {
        width: 100%;
        display: block;
    }
    .btn {
        display: flex !important;
        flex-flow: row wrap;
        justify-content: center;
        background: $darkgray;
        border-color: $darkgray;
        color: $principal;
        svg {
            max-width: 18px;
            max-height: 18px;
            position: relative;
            margin-right: 10px;
            margin-top: 8px;
            flex: 1;
        }
    }
    .redes__twitter {
        display: flex;
        flex-flow: row wrap;
        margin-left: -30px;
        width: calc(100% + 50px);
        @include respond-to(desktop) {
            display: block;
            width: calc(100% / 3);
            padding: 0 12px;
            margin-left: 0;
        }
        .title {
            margin-left: 30px;
            @include respond-to(desktop) {
            margin-left: 0;
            }
        }
        .btn {
            position: relative;
            margin: auto;
            @include respond-to(desktop) {
                left: auto;
                top: auto;
                transform: translate(0, 0);
                margin-left: auto;
                margin-right: 0;
            }
            svg {
                margin-top: 8px;
            }
        }
        svg {
            fill: #4baaf4;
        }
        .title {
            width: 100%;
        }
        .redes__content {
            width: 100%;
            padding: 0;
        }
        .redes__twitter__item {
            width: 33.3333%;
            padding-left: 10px;
            margin-bottom: 30px;
            word-break: break-all;
            @include respond-to(desktop) {
                width: 100%;
                border-bottom: 2px solid $gray;
                padding-bottom: 10px;
                margin-bottom: 20px;
                &:nth-child(2n + 1) {
                    width: 100%;
                }
            }
            .twitt-by {
                @include font-size(14px, 24px);
                color: $border;
            }
            .twitt-date {
                @include font-size(14px, 24px);
                margin-bottom: 15px;
                strong, a, span {
                    display: inline-block;
                    margin-left: 4px;
                }
            }
        }
    }
    .redes__facebook {
        @include respond-to(tablet) {
            width: 50%;
            padding-right: 20px;
        }
        @include respond-to(desktop) {
            width: calc(100% / 3);
            padding: 0 12px;
        }
        svg {
            fill: #39579a;
        }
        .redes__facebook__item {
            display: block;
            @include respond-to(tablet) {
                border-bottom: 2px solid $gray;
                padding: 0 10px 10px;
                margin-bottom: 50px;
                position: relative;
                .btn {
                    position: absolute;
                    right: 0;
                    bottom: -50px;
                }
            }
        }
        .face__media {
            width: 100%;
        }
    }
    .redes__instagram {
        margin-bottom: 40px;
        @include respond-to(tablet) {
            width: 50%;
            padding-left: 20px;
            margin-bottom: 0;
        }
        @include respond-to(desktop) {
            width: calc(100% / 3);
            padding: 0 12px;
        }
        svg {
            fill: #00487a;
        }
        .redes__instagram__item {
            display: flex;
            flex-flow: row-reverse wrap;
            @include respond-to(tablet) {
                border-bottom: 2px solid $gray;
                padding: 0 10px 10px;
                margin-bottom: 50px;
                position: relative;
                .btn {
                    position: absolute;
                    right: 0;
                    bottom: -50px;
                }
            }
        }
        .insta__media {
            width: 100%;
        }
    }
}