.wrap {
	margin: auto;
	max-width: cr(1140px);
    padding: 0 15px;
    width: 100%;
    @include respond-to(tablet) {
        padding: 0 30px;
    }
    @include respond-to(desktop) {
        padding: 0;
    }
}